html,
body {
    margin: 0;
    padding: 0;
}
.fi-simple-main {
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}

.fi-layout {
    background: linear-gradient(
        135deg,
        #c6e8ff,
        #93deff
    ) !important; /* change to your color */
}
